; {{ ansible_managed }}
$TTL {{ bind_ttl }}
@   IN  SOA   ns1.{{ lab_domain }}. {{ bind_admin_email }} (
        {{ bind_zone_serial }} ; Serial
        1D      ; Refresh
        1H      ; Retry
        1W      ; Expire
        3H )    ; Minimum TTL

    IN  NS   ns1.{{ lab_domain }}.

{% for record in bind_forward_records %}
{{ '%-10s' | format(record.name) }} IN  A    {{ record.ip }}
{% endfor %}
