// {{ ansible_managed }}
// Generado automáticamente por Ansible. No editar manualmente.

options {
    listen-on port 53 { any; };
    listen-on-v6 port 53 { none; };
    directory       "{{ bind_zones_dir }}";
    dump-file       "{{ bind_zones_dir }}/data/cache_dump.db";
    statistics-file "{{ bind_zones_dir }}/data/named_stats.txt";
    memstatistics-file "{{ bind_zones_dir }}/data/named_mem_stats.txt";
    secroots-file   "{{ bind_zones_dir }}/data/named.secroots";
    recursing-file  "{{ bind_zones_dir }}/data/named.recursing";

    allow-query     {
{% for net in bind_allow_query %}
        {{ net }};
{% endfor %}
    };

    recursion yes;

    forwarders {
{% for fwd in bind_forwarders %}
        {{ fwd }};
{% endfor %}
    };

    dnssec-validation yes;

    managed-keys-directory "/var/named/dynamic";
    pid-file "/run/named/named.pid";
    session-keyfile "/run/named/session.key";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

zone "{{ lab_domain }}" IN {
    type master;
    file "{{ lab_domain }}.zone";
    allow-update { none; };
};

zone "{{ lab_reverse_zone }}" IN {
    type master;
    file "{{ lab_reverse_zone }}.zone";
    allow-update { none; };
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
