# Ansible
*.retry
*.log
.ansible/
ansible.log

# Vault / secretos
*.vault
vault_pass.txt
secrets.yml

# Colecciones descargadas localmente (se instalan con requirements.yml)
collections/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
